{% if static_routes is defined %}
{% for route in static_routes %}
{% if route.vr is defined %}
delete routing-instances {{ route.vr }} routing-options static route {{ route.route }} next-hop {{ route.next_hop }}
{% else %}
delete routing-options static route {{ route.route }} next-hop {{ route.next_hop }}
{% endif %}
{% endfor %}
{% endif %}
